<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-android"></i>
        <h3 class="text-uppercase">Desenvolvido para Android</h3>
        <p>O sistema operacional mais usado no mundo atualmente. </p>
      </div>
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-map-marker"></i>
        <h3 class="text-uppercase">Maps</h3>
        <p>Conta com a tecnologia do google maps. </p>
      </div>
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-google"></i>
        <h3 class="text-uppercase">Firebase</h3>
        <p>Faz uso da gama de tecnologias do firebase como: Realtime Database, Storage, Auth entre outras. </p>
      </div>
    </div>
  </div>
</section>