<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="text-upper">Vacina Campina</h1>
          <p class="tm-white">Vacina Campina é uma aplicativo que ajuda você e sua família a manter as vacinas em dias e
            ainda lhe mantém informado sobre postos de saúdos e campanhas de vacinação.
          </p>
          <img src="~assets/images/logo.png" class="img-responsive" style="max-height: 200px; max-width: 100px;"
            alt="home img">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>