<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">Contate-me</h2>
          <p>Me chamo Emerson Sousa, aluno do ultimo semestre do curso de Ciências da Computação na Universidade
            Estadual da Paraíba - UEPB </p>
          <address>
            <p><i class="fa fa-map-marker"></i>Campina Grande - PB</p>
            <p><i class="fa fa-envelope-o"></i> emersonuepb@gmail.com</p>
          </address>
        </div>

      </div>
    </div>
  </div>
</section>